@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Space+Mono&display=swap" rel="stylesheet');
:root{
    --space-mono-font: 'Space Mono', monospace;
    --border-dark-subtle: #373838; 
}
*{
    box-sizing: border-box;
}
body *{
    font-family: var(--space-mono-font);
}
/**
Page Design
*/
body,
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #282A3A;
}
.page-title{
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    font-family: var(--secular-font);
    text-align: center;
    text-shadow: 0px 0px 3px #2020208c;
}
.border-dark-subtle{
    border-color: var(--border-dark-subtle) !important;
}


/* Timer */
#timer-wrapper{
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid #2a2a2a;
    box-shadow: 0px 0px 10px #a0e1ffa1;
    padding: 0.5em;
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-wrapper .timer{
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 2.5rem;
}
/* timer-wrapper buttons */
#timer-buttons {
    width: fit-content;
    margin: 1em auto;
    display: flex;
}

#timer-buttons .timer-btn{
    display: none;
    align-items: center;
    margin: 0 .5em;
    justify-content: center;
}